.main-form-outer-container{
    /* height: 100vh; */
    background-color: #F8F8F8;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 60px; */
    padding: 3rem 1rem;
}

.spin-loader{
    margin: 20px;
}

.form-container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* height: 100vh; */
   
}

.loginForm{
    padding: 30px;
    background-color: white;
    border-radius: 5px;
}

.loginForm-notuser-link{
    text-decoration: none;
}
